<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="bpm.workflow.ui.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="bpm.workflow.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="bpm.workflow.ui.perspectives.Perspective"
            id="bpm.workflow.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="bpm.workflow.ui.views.ResourceViewPart"
            id="bpm.workflow.ui.views.resources"
            name="%view_resources">
      </view>
      <view
            class="bpm.workflow.ui.views.ModelViewPart"
            id="bpm.workflow.ui.views.model"
            name="%view_model">
      </view>
      <view
            class="bpm.workflow.ui.views.ViewPalette"
            id="bpm.workflow.ui.views.ViewPalette"
            name="%view_palette"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="bpm.workflow.ui.wizards.WorkflowWizard"
            icon="src/bpm/workflow/ui/icons/new.png"
            id="bpm.workflow.ui.workflowwizard"
            name="%wizard_newworkflow">
      </wizard>
      <wizard
            class="bpm.workflow.ui.resources.server.wizard.ServerWizard"
            icon="src/bpm/workflow/ui/icons/server_add.png"
            id="bpm.workflow.ui.resources.wizard"
            name="%wizard_server">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="bpm.workflow.ui.editors.WorkflowMultiEditorPart"
            contributorClass="bpm.workflow.ui.editors.WorkflowEditorContributor"
            icon="icons/workflow_16.gif"
            id="bpm.workflow.ui.editors.workflowmultieditorpart"
            name="name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="bpm.workflow.ui.editors.workfloweditorpart"
            typeMapper="bpm.workflow.ui.views.property.NodeTypeMapper">
         <propertyCategory
               category="WorkflowObject"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="bpm.workflow.ui.editors.workfloweditorpart">
         <propertyTab
               category="WorkflowObject"
               id="WorkflowObject.general"
               label="%tab_general">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.datasource"
               label="%tab_datasource">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.databaseServer"
               label="%tab_databaseserver">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.repositoryServer"
               label="%tab_repository">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.repositoryServer"
               category="WorkflowObject"
               id="WorkflowObject.outputs"
               label="%tab_output">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.informations"
               label="%tab_informations">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.type"
               label="%tab_type">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.performer"
               label="%tab_performer">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.groups"
               label="%tab_group">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.datasource"
               category="WorkflowObject"
               id="WorkflowObject.sql"
               label="%tab_sql">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="Links.link"
               label="%tab_link">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.mapping"
               label="%tab_mapping">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.mailServer"
               label="%tab_mailserver">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.transfo"
               label="%tab_repositorytransfo">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.KPIComparator"
               label="%tab_kpicomparator">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.FmServer"
               label="%tab_fmserver">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.checkpath"
               label="%tab_checkFile">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.runpath"
               label="%tab_runpath">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.timer"
               label="%tab_timer">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.compter"
               label="%tab_counter">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.filemanagement.outputs"
               label="%tab_outputs">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.filemanagement"
               label="%tab_input">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.fileserverget"
               label="%tab_fileserverget">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.fileserverput"
               label="%tab_fileserverput">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.fileservergetoption"
               label="%tab_fileserveroptions">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.putinbase"
               label="%tab_putdatabase">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.commentType"
               label="%tab_commentType">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.excelAggregate"
               label="%tab_excelAgg">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.checktable"
               label="%tab_checktable">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.checkcolumn"
               label="%tab_checkcolumn">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.concatexcel"
               label="%tab_concatExcel">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.concat"
               label="%tab_concatfiles">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.calculation"
               label="%tab_calculation">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.deletefile"
               label="%tab_deleteFile">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.deletefolder"
               label="%tab_deleteFolder">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.pinghost"
               label="%tab_pinghost">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.performGoogle"
               label="%tab_performerGoogle">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.sql"
               category="WorkflowObject"
               id="WorkflowObject.sqloutputs"
               label="%tab_sqlOutputs">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.fileinformations"
               label="%tab_fileInfo">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.alert"
               label="%tab_alert">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.comment"
               label="%tab_comment">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.comment"
               category="WorkflowObject"
               id="WorkflowObject.startStop"
               label="%tab_startStop">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.encrypt"
               label="%tab_encrypt">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.command"
               label="%tab_command">
         </propertyTab>
         <propertyTab
               afterTab="WorkflowObject.general"
               category="WorkflowObject"
               id="WorkflowObject.air"
               label="Air">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="bpm.workflow.ui.editors.workfloweditorpart">
         <propertySection
               class="bpm.workflow.ui.views.property.sections.GeneralSection"
               id="General.Section"
               tab="WorkflowObject.general">
            <input
                  type="bpm.workflow.runtime.model.IActivity">
            </input>
            <input
                  type="bpm.workflow.runtime.model.comment.Comment">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.mail.MailOptionsSection"
               id="Informations.Section"
               tab="WorkflowObject.informations">
            <input
                  type="bpm.workflow.runtime.model.activities.MailActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.TypeSection"
               id="Type.Section"
               tab="WorkflowObject.type">
            <input
                  type="bpm.workflow.runtime.model.comment.Comment">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.DatasourceSection"
               id="Datasource.Section"
               tab="WorkflowObject.datasource">
            <input
                  type="bpm.workflow.runtime.resources.JrxmlReport">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.PerformerSection"
               id="Performer.Section"
               tab="WorkflowObject.performer">
            <input
                  type="bpm.workflow.runtime.model.activities.InterfaceActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.GroupsSection"
               id="Groups.Section"
               tab="WorkflowObject.groups">
            <input
                  type="bpm.workflow.runtime.model.activities.reporting.ReportActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.DataBaseServerSection"
               id="DataBaseServer.Section"
               tab="WorkflowObject.databaseServer">
            <input
                  type="bpm.workflow.runtime.model.IDataBaseServer">
            </input>
         </propertySection>
         <propertySection
               afterSection="DataBaseServer.Section"
               class="bpm.workflow.ui.views.property.sections.sql.SqlSection"
               id="SQL.Section"
               tab="WorkflowObject.sql">
            <input
                  type="bpm.workflow.runtime.model.activities.SqlActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.LinkSection"
               id="Link.Section"
               tab="Links.link">
            <input
                  type="bpm.workflow.runtime.model.Transition">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.MappingSection"
               id="Mapping.Section"
               tab="WorkflowObject.mapping">
            <input
                  type="bpm.workflow.runtime.model.IParameters">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.mail.MailServerSection"
               id="MailServer.Section"
               tab="WorkflowObject.mailServer">
            <input
                  type="bpm.workflow.runtime.model.IMailServer">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.RepositoryServerSection"
               id="BIRepository.Section"
               tab="WorkflowObject.repositoryServer">
            <input
                  type="bpm.workflow.runtime.model.IRepositoryItem">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.TransfoSection"
               id="Transfo.Section"
               tab="WorkflowObject.transfo">
            <input
                  type="bpm.workflow.runtime.model.IGatewayServer">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.KPIListSection"
               id="KPIComparator.Section"
               tab="WorkflowObject.KPIComparator">
            <input
                  type="bpm.workflow.runtime.model.activities.KPIActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.FreeMetricsServerSection"
               id="FmServer.Section"
               tab="WorkflowObject.FmServer">
            <input
                  type="bpm.workflow.runtime.model.activities.KPIActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.CheckPathSection"
               id="CheckPath.Section"
               tab="WorkflowObject.checkpath">
            <input
                  type="bpm.workflow.runtime.model.activities.CheckPathActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.RunPathSection"
               id="RunEXE.Section"
               tab="WorkflowObject.runpath">
            <input
                  type="bpm.workflow.runtime.model.activities.StarterActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.TimerSection"
               id="Timer.Section"
               tab="WorkflowObject.timer">
            <input
                  type="bpm.workflow.runtime.model.activities.TimerActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="SQL.Section"
               class="bpm.workflow.ui.views.property.sections.sql.SQLOutputsSection"
               id="SQLOutputs.Section"
               tab="WorkflowObject.sqloutputs">
            <input
                  type="bpm.workflow.runtime.model.activities.SqlActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.CompterSection"
               id="Compter.Section"
               tab="WorkflowObject.compter">
            <input
                  type="bpm.workflow.runtime.model.activities.CompterActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.FileServerGetSection"
               id="FileServerGet.Section"
               tab="WorkflowObject.fileserverget">
            <input
                  type="bpm.workflow.runtime.model.IFileServerGet">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.FileServerPutSection"
               id="FileServerPut.Section"
               tab="WorkflowObject.fileserverput">
            <input
                  type="bpm.workflow.runtime.model.IFileServerPut">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.FileServerGetOptionSection"
               id="FileServerGetOption.Section"
               tab="WorkflowObject.fileservergetoption">
            <input
                  type="bpm.workflow.runtime.model.IFileServerGet">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.PutinBaseSection"
               id="PutInBase.Section"
               tab="WorkflowObject.putinbase">
            <input
                  type="bpm.workflow.runtime.model.activities.PutFileBaseActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.CommentTypeSection"
               id="commentType.Section"
               tab="WorkflowObject.commentType">
            <input
                  type="bpm.workflow.runtime.model.activities.Comment">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.ExcelAggregateSection"
               id="excelAggregate.Section"
               tab="WorkflowObject.excelAggregate">
            <input
                  type="bpm.workflow.runtime.model.activities.ExcelAggregateActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.CheckTableSection"
               id="checktable.Section"
               tab="WorkflowObject.checktable">
            <input
                  type="bpm.workflow.runtime.model.activities.CheckTableActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.CheckColumnSection"
               id="checkcolumn.Section"
               tab="WorkflowObject.checkcolumn">
            <input
                  type="bpm.workflow.runtime.model.activities.CheckColumnActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.CalculationSection"
               id="calculation.Section"
               tab="WorkflowObject.calculation">
            <input
                  type="bpm.workflow.runtime.model.activities.CalculationActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.DeleteFolderSection"
               id="deletefolder.Section"
               tab="WorkflowObject.deletefolder">
            <input
                  type="bpm.workflow.runtime.model.activities.DeleteFolderActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.PingHostSection"
               id="pinghost.Section"
               tab="WorkflowObject.pinghost">
            <input
                  type="bpm.workflow.runtime.model.activities.PingHostActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.DeleteFileSection"
               id="deletefile.Section"
               tab="WorkflowObject.deletefile">
            <input
                  type="bpm.workflow.runtime.model.activities.DeleteFileActivity">
            </input>
         </propertySection>
         <propertySection
               class="bpm.workflow.ui.views.property.sections.AlertSection"
               id="Alert.Section"
               tab="WorkflowObject.alert">
            <input
                  type="bpm.workflow.runtime.model.activities.vanilla.AlertActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.PerformerGoogleSection"
               id="performGoogle.Section"
               tab="WorkflowObject.performGoogle">
            <input
                  type="bpm.workflow.runtime.model.activities.InterfaceGoogleActivity">
            </input>
         </propertySection>
         <propertySection
               class="bpm.workflow.ui.views.property.sections.TaskListServerSection"
               id="TaskList.Section"
               tab="WorkflowObject.repositoryServer">
            <input
                  type="bpm.workflow.runtime.model.activities.TaskListActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.filesmanagement.FileServerSection"
               id="FileServer.Section"
               tab="WorkflowObject.fileinformations">
            <input
                  type="bpm.workflow.runtime.model.activities.filemanagement.IFileServer">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.filesmanagement.FileTreatementSection"
               id="FileTreatement.Section"
               tab="WorkflowObject.fileinformations">
            <input
                  type="bpm.workflow.runtime.model.activities.filemanagement.IFileTreatement">
            </input>
         </propertySection>
         <propertySection
               afterSection="FileManagement.output"
               class="bpm.workflow.ui.views.property.sections.inout.Inputs"
               id="FileManagement.inputs"
               tab="WorkflowObject.filemanagement">
            <input
                  type="bpm.workflow.runtime.model.IAcceptInput">
            </input>
         </propertySection>
         <propertySection
               class="bpm.workflow.ui.views.property.sections.inout.Output"
               id="FileManagement.output"
               tab="WorkflowObject.filemanagement.outputs">
            <input
                  type="bpm.workflow.runtime.model.IOutputProvider">
            </input>
         </propertySection>
         <propertySection
               afterSection="FileManagement.output"
               class="bpm.workflow.ui.views.property.sections.inout.Formats"
               id="FileManagement.format"
               tab="WorkflowObject.filemanagement.outputs">
            <input
                  type="bpm.workflow.runtime.model.activities.reporting.ReportActivity">
            </input>
         </propertySection>
         <propertySection
               class="bpm.workflow.ui.views.property.sections.CommentSection"
               id="Comment.Section"
               tab="WorkflowObject.comment">
            <input
                  type="bpm.workflow.runtime.model.IComment">
            </input>
         </propertySection>
         <propertySection
               afterSection="Comment.Section"
               class="bpm.workflow.ui.views.property.sections.StartStopSection"
               id="StartStop.Section"
               tab="WorkflowObject.startStop">
            <input
                  type="bpm.workflow.runtime.model.activities.vanilla.StartStopItemActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="Comment.Section"
               class="bpm.workflow.ui.views.property.sections.ResetGedSection"
               id="ResetGedSection"
               tab="WorkflowObject.general">
            <input
                  type="bpm.workflow.runtime.model.activities.vanilla.ResetGedIndexActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="Comment.Section"
               class="bpm.workflow.ui.views.property.sections.ResetUolapCacheSection"
               id="ResetUolapCacheSection"
               tab="WorkflowObject.general">
            <input
                  type="bpm.workflow.runtime.model.activities.vanilla.ResetUolapCacheActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="BIRepository.Section"
               class="bpm.workflow.ui.views.property.sections.CubeSelectionSection"
               id="CubeSelectionSection"
               tab="WorkflowObject.repositoryServer">
            <input
                  type="bpm.workflow.runtime.model.activities.vanilla.ResetUolapCacheActivity">
            </input>
         </propertySection>
         <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.LogicalSection"
               id="LogicalSection"
               tab="WorkflowObject.commentType">
            <input
                  type="bpm.workflow.runtime.model.activities.XorActivity">
            </input>
         </propertySection>
         <propertySection
               class="bpm.workflow.ui.views.property.sections.filesmanagement.EncryptSection"
               id="Encrypt.Section"
               tab="WorkflowObject.encrypt">
            <input
                  type="bpm.workflow.runtime.model.IEncrypt">
            </input>
         </propertySection>
         <propertySection
               class="bpm.workflow.ui.views.property.sections.GedSection"
               id="Ged.Section"
               tab="WorkflowObject.informations">
            <input
                  type="bpm.workflow.runtime.model.activities.vanilla.GedActivity">
            </input>
         </propertySection>
         <propertySection
               class="bpm.workflow.ui.views.property.sections.CommandSection"
               id="Command.Section"
               tab="WorkflowObject.command">
            <input
                  type="bpm.workflow.runtime.model.ICommand">
            </input>
         </propertySection>
         <propertySection
               class="bpm.workflow.ui.views.property.sections.KettleSection"
               id="KettleSection"
               tab="WorkflowObject.general">
            <input
                  type="bpm.workflow.runtime.model.activities.KettleActivity">
            </input>
            </propertySection>
         <propertySection
               class="bpm.workflow.ui.views.property.sections.TalendSection"
               id="TalendSection"
               tab="WorkflowObject.general">
            <input
                  type="bpm.workflow.runtime.model.activities.TalendActivity">
            </input>
         </propertySection>
                 <propertySection
               afterSection="General.Section"
               class="bpm.workflow.ui.views.property.sections.AirSection"
               id="Air.Section"
               tab="WorkflowObject.air">
            <input
                  type="bpm.workflow.runtime.model.activities.AirActivity">
            </input>
         </propertySection>
                 <propertySection
                       class="bpm.workflow.ui.views.property.sections.CkanSection"
                       id="CKAN.Section"
                       tab="WorkflowObject.mapping">
                    <input
                          type="bpm.workflow.runtime.model.activities.vanilla.MetadataToD4CActivity">
                    </input>
                 </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="bpm.workflow.ui.views.resources.viewactions"
            targetID="bpm.workflow.ui.views.resources">
         <action
               class="bpm.workflow.ui.views.actions.DeleteServerActionDelegate"
               icon="src/bpm/workflow/ui/icons/server_delete.png"
               id="bpm.workflow.ui.views.actions.deleteserver"
               label="%action_deleteServer"
               toolbarPath="/normal"
               tooltip="%action_deleteServer">
         </action>
         <action
               class="bpm.workflow.ui.views.actions.CreateServerActionDelegate"
               icon="src/bpm/workflow/ui/icons/server_add.png"
               id="bpm.workflow.ui.views.actions.createserver"
               label="%action_createServer"
               toolbarPath="/normal"
               tooltip="%action_createServer">
         </action>
         <action
               class="bpm.workflow.ui.views.actions.CreateVariableActionDelegate"
               icon="src/bpm/workflow/ui/icons/variable.png"
               id="bpm.workflow.ui.action2"
               label="%action_createVariable"
               toolbarPath="/normal"
               tooltip="%action_createVariable">
         </action>
         <action
               class="bpm.workflow.ui.views.actions.DeleteVariableActionDelegate"
               icon="src/bpm/workflow/ui/icons/delvariable.png"
               id="bpm.workflow.ui.views.deletevariables"
               label="%action_deleteVariable"
               toolbarPath="/normal"
               tooltip="%action_deleteVariable">
         </action>
         <action
               class="bpm.workflow.ui.views.actions.AddParameterActionDelegate"
               icon="src/bpm/workflow/ui/icons/add_parameter_16.png"
               id="bpm.workflow.ui.action.addParameter"
               label="%action_addParameter"
               toolbarPath="/normal"
               tooltip="%action_addParameter">
         </action>
         <action
               class="bpm.workflow.ui.views.actions.DeleteParameterActionDelegate"
               icon="src/bpm/workflow/ui/icons/del_parameter_16.png"
               id="bpm.workflow.ui.action.delParameter"
               label="%action_delParameter"
               toolbarPath="/normal"
               tooltip="%action_delParameter">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="bpm.workflow.ui.views.resources"
            typeMapper="bpm.workflow.ui.views.property.CustomTypeMapper">
         <propertyCategory
               category="Resources"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="bpm.workflow.ui.views.resources">
         <propertyTab
               category="Resources"
               id="Resources.general"
               label="%tab_resources_general">
         </propertyTab>
         <propertyTab
               afterTab="Resources.general"
               category="Resources"
               id="Resources.port"
               label="%tab_resources_port">
         </propertyTab>
         <propertyTab
               afterTab="Resources.general"
               category="Resources"
               id="Resources.db"
               label="%tab_resources_options">
         </propertyTab>
         <propertyTab
               afterTab="Resources.general"
               category="Resources"
               id="Resources.freemetrics"
               label="%tab_resources_FMUser">
         </propertyTab>
         <propertyTab
               afterTab="Resources.general"
               category="Resources"
               id="Resources.fileserver"
               label="%tab_resources_serverOptions">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="bpm.workflow.ui.views.resources">
         <propertySection
               class="bpm.workflow.ui.views.property.sections.GeneralResourcesSection"
               id="Resources.General.Section"
               tab="Resources.general">
            <input
                  type="bpm.workflow.runtime.resources.servers.Server">
            </input>
         </propertySection>
         <propertySection
               class="bpm.workflow.ui.views.property.sections.PortResourcesSection"
               id="Resources.Port.Section"
               tab="Resources.port">
            <input
                  type="bpm.workflow.runtime.resources.servers.ServerMail">
            </input>
         </propertySection>
         <propertySection
               class="bpm.workflow.ui.views.property.sections.DBSection"
               id="Resources.DB.Section"
               tab="Resources.db">
            <input
                  type="bpm.workflow.runtime.resources.servers.DataBase">
            </input>
         </propertySection>
         <propertySection
               class="bpm.workflow.ui.views.property.sections.FreeMetricsSection"
               id="Resources.freemetrics.Section"
               tab="Resources.freemetrics">
            <input
                  type="bpm.workflow.runtime.resources.servers.FreemetricServer">
            </input>
         </propertySection>
         <propertySection
               class="bpm.workflow.ui.views.property.sections.FileServerResourcesSection"
               id="Resources.fileserver.Section"
               tab="Resources.fileserver">
            <input
                  type="bpm.workflow.runtime.resources.servers.FileServer">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="bpm.workflow.ui.application"
            name="Bi Workflow">
         <property
               name="aboutText"
               value="BiWorkflow Designer&#x0A;&#x0A;Version 8&#x0A;&#x0A;&#x0A;http://www.bpm-conseil.com/">
         </property>
         <property
               name="aboutImage"
               value="icons/vanilla_about.gif">
         </property>
         <property
               name="appName"
               value="Bi Workflow">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="bpm.workflow.ui.preferences.PreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="bpm.workflow.ui.splashHandlers.InteractiveSplashHandler"
            id="bpm.workflow.ui.splashHandlers.interactive">
      </splashHandler>
   </extension>

</plugin>
