.menu {  
	list-style-type: none; 
} 
ul.menu {
    font: bold 11px verdana, arial, sans-serif;
    list-style-type: none;
    padding-bottom: 24px;
    border-bottom: 1px solid #0080C0;
    margin: 0;
}

ul.menu li {
    float: left;
    height: 21px;
    background-color: #82D7FF;
    margin: 2px 2px 0 2px;
    border: 1px solid #0080C0;
}

.menu li:active {
    border-bottom: 1px solid #fff;
    background-color: #fff;
} 

.menu a:active{
    color: #000;
}

.active a{
    color: #000;
    background: #fff;
}

.active li{
    border-bottom: 1px solid #fff;
    background-color: #fff;
    background: #fff;
}

.menu a {
    float: left;
    display: block;
    color: #666;
    text-decoration: none;
    padding: 4px;
}

.menu a:hover {
    background: #fff;
}
.title{border-color: #ff0000;

	border-top-style:none;

	border-bottom-style:none;

	border-left-style:none;

	border-right-style:none;
border-width: 1px;
text-align: center;
text-decoration: none;

text-indent:10px;
font-family: Calibri;
font-size: 32px;
font-weight: bold;
color: #ffffff;

	backgroundcolor:#ffffff;
}
._loading {
	background-color: black;
	opacity: 0.2;
	filter: literal(\"alpha(opacity=20)\");
	z-index: 4;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

._loading div {
	background:url(../../freedashboardRuntime/js/wait/loadingBig.gif) no-repeat center center;
	width: 32px;
	height: 32px;
	margin: auto;
	position: relative;
	top:50%;
}

.chartfd span>svg>text>tspan{
    display:none;
}
.chartfd span>svg>g>text>tspan{
    font-size:10px;
}
.chartfd span>svg>g>a>text>tspan{
    font-size:10px;
}

.cell span > svg > text > tspan {
    display:none;
}

.cell{overflow:auto;}

.entete{background-color:#82D7FF;background-repeat:no-repeat;z-index:-1}

.titre{font-family:Calibri;font-size:26;color:#ffffff;text-decoration:none;font-weight:bold;font-style:normal;}

.filter{font-family:Calibri;font-size:14px;color:#ffffff;text-decoration:none;font-weight:bold;font-style:normal;}
