<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="bpm.vanilla.server.ui.views.ViewServerInfo"
            id="bpm.vanilla.server.ui.views.ServerInfo"
            name="%view.name"
            restorable="true">
      </view>
      <view
            class="bpm.vanilla.server.ui.views.WaitingView"
            id="bpm.vanilla.server.ui.views.WaitingTaskView"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            class="bpm.vanilla.server.ui.views.RunningView"
            id="bpm.vanilla.server.ui.views.RunningTaskView"
            name="%view.name.1"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="bpm.vanilla.server.ui.views.activity.ServerContent"
            id="bpm.vanilla.server.ui.views.StateTaskView"
            name="%view.name.2"
            restorable="true">
      </view>
      <view
            class="bpm.vanilla.server.ui.views.activity.ServerPreviousContent"
            id="bpm.vanilla.server.ui.views.activity.ServerPreviousContent"
            name="%view.name.3"
            restorable="true">
      </view>
      <view
            class="bpm.vanilla.server.ui.views.ContentView"
            id="bpm.vanilla.server.ui.views.ContentView"
            name="%view.name.4"
            restorable="true">
      </view>
      <view
            class="bpm.vanilla.server.ui.views.ItemHistoView"
            id="bpm.vanilla.server.ui.views.ItemHistoView"
            name="%view.name.5"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="bpm.vanilla.server.ui.perspectives.MainPerspective"
            fixed="true"
            icon="src/bpm/vanilla/server/ui/icons/vsa32.png"
            id="bpm.vanilla.server.ui.perspectives.MainPerspective"
            name="%perspective.name">
      </perspective>
      <perspective
            class="bpm.vanilla.server.ui.perspectives.ContentPerspective"
            icon="src/bpm/vanilla/server/ui/icons/stock_new-spreadsheet-32.bmp"
            id="bpm.vanilla.server.ui.perspectives.ContentPerspective"
            name="%perspective.name.1">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="bpm.vanilla.server.ui.views.StateTaskView.popup"
            targetID="bpm.vanilla.server.ui.views.StateTaskView.contextMenu">
         <action
               class="bpm.vanilla.server.ui.views.actions.ActionStopTask"
               icon="src/bpm/vanilla/server/ui/icons/flag_red.png"
               id="bpm.vanilla.server.ui.views.actions.stoptask"
               label="%action.label"
               menubarPath="bpm.vanilla.server.ui.views.StateTaskView.popup">
         </action>
         <action
               class="bpm.vanilla.server.ui.views.actions.ActionRemoveTask"
               icon="src/bpm/vanilla/server/ui/icons/del_16.png"
               id="bpm.vanilla.server.ui.views.actions.removetask"
               label="%action.label.0"
               menubarPath="bpm.vanilla.server.ui.views.StateTaskView.popup">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="bpm.vanilla.server.ui.preferences.pages.ServerPage"
            id="bpm.vanilla.server.ui.preferences.pageserver"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="bpm.vanilla.server.ui.preferences.PreferencesInitializer">
      </initializer>
   </extension>

</plugin>
