<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="bpm.vanilla.server.ui.views.ViewServerInfo"
            id="bpm.vanilla.server.ui.views.ServerInfo"
            name="ServerInfo"
            restorable="true">
      </view>
      <view
            class="bpm.vanilla.server.ui.views.WaitingView"
            id="bpm.vanilla.server.ui.views.WaitingTaskView"
            name="Waiting Task"
            restorable="true">
      </view>
      <view
            class="bpm.vanilla.server.ui.views.RunningView"
            id="bpm.vanilla.server.ui.views.RunningTaskView"
            name="Running Task"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="bpm.vanilla.server.ui.views.StateTaskView"
            id="bpm.vanilla.server.ui.views.StateTaskView"
            name="Task State"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="bpm.vanilla.server.ui.perspectives.MainPerspective"
            fixed="true"
            icon="src/bpm/vanilla/server/ui/icons/vsa32.png"
            id="bpm.vanilla.server.ui.perspectives.MainPerspective"
            name="ServerContent">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="bpm.vanilla.server.ui.views.StateTaskView.popup"
            targetID="bpm.vanilla.server.ui.views.StateTaskView.contextMenu">
         <action
               class="bpm.vanilla.server.ui.views.actions.ActionStopTask"
               icon="src/bpm/vanilla/server/ui/icons/flag_red.png"
               id="bpm.vanilla.server.ui.views.actions.stoptask"
               label="Stop Task"
               menubarPath="bpm.vanilla.server.ui.views.StateTaskView.popup">
         </action>
         <action
               class="bpm.vanilla.server.ui.views.actions.ActionFullDescription"
               icon="src/bpm/vanilla/server/ui/icons/information.png"
               id="bpm.vanilla.server.ui.views.actions.taskinfos"
               label="Get More Infos"
               menubarPath="bpm.vanilla.server.ui.views.StateTaskView.popup">
         </action>
         <action
               class="bpm.vanilla.server.ui.views.actions.ActionRemoveTask"
               icon="src/bpm/vanilla/server/ui/icons/del_16.png"
               id="bpm.vanilla.server.ui.views.actions.removetask"
               label="Remove Task"
               menubarPath="bpm.vanilla.server.ui.views.StateTaskView.popup">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="bpm.vanilla.server.ui.preferences.pages.ServerPage"
            id="bpm.vanilla.server.ui.preferences.pageserver"
            name="Servers">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="bpm.vanilla.server.ui.preferences.PreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="bpm.vanilla.server.ui.actionSet1"
            label="baseactions"
            visible="true">
         <action
               class="bpm.vanilla.server.ui.actions.ActionTaskManager"
               icon="src/bpm/vanilla/server/ui/icons/manager.png"
               id="bpm.vanilla.server.ui.actions.ActionTaskManager"
               label="TaskManager"
               menubarPath="bpm.vanilla.server.ui.tools/toolsep"
               style="push"
               toolbarPath="tools">
         </action>
         <action
               class="bpm.vanilla.server.ui.actions.ActionRunTask"
               icon="src/bpm/vanilla/server/ui/icons/flag_green.png"
               id="bpm.vanilla.server.ui.actions.ActionRunTask"
               label="RunTask"
               menubarPath="bpm.vanilla.server.ui.tools/toolsep"
               style="push"
               toolbarPath="tools">
         </action>
         <action
               class="bpm.vanilla.server.ui.actions.ActionHistorize"
               icon="src/bpm/vanilla/server/ui/icons/historize.png"
               id="bpm.vanilla.server.ui.actions.ActionHistorize"
               label="Historize"
               menubarPath="bpm.vanilla.server.ui.tools/toolsep"
               style="push"
               toolbarPath="tools">
         </action>
         <menu
               id="bpm.vanilla.server.ui.tools"
               label="Tools">
            <separator
                  name="toolsep">
            </separator>
         </menu>
         <action
               class="bpm.vanilla.server.ui.actions.ActionServerMemory"
               icon="src/bpm/vanilla/server/ui/icons/memory.png"
               id="bpm.vanilla.server.ui.actions.ActionServerMemory"
               label="Server Memory Consumption"
               menubarPath="bpm.vanilla.server.ui.tools/toolsep"
               style="push"
               toolbarPath="tools">
         </action>
      </actionSet>
   </extension>

</plugin>
