<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.freeolap.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.freeolap.Perspective"
            icon="icons/sample.gif"
            id="org.freeolap.perspective"
            name="%perspective_schema">
      </perspective>
      <perspective
            class="org.freeolap.XMLAPerspective"
            id="org.fasd.xmlaperspective"
            name="XMLA">
      </perspective>
	  <!--<perspective
            class="org.freeolap.SecurityPerspective"
            icon="icons/lock16.gif"
            id="org.freeolap.securityperspective"
            name="Admin">
      </perspective>
   <perspective
         class="org.freeolap.XMLAPerspective"
         id="org.fasd.xmlaperspective"
         name="XMLA"/>-->
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view_datasource"
            allowMultiple="false"
            class="org.fasd.views.SQLView"
            id="org.fasd.views.sqlView">
      </view>
      <view
            name="%view_dimension"
            allowMultiple="false"
            class="org.fasd.views.DimensionView"
            id="org.fasd.views.dimensionView"/>
      <view
            name="%view_cubes"
            allowMultiple="false"
            class="org.fasd.views.CubeView"
            id="org.fasd.views.cubeView"/>
      <view
            name="%view_properties"
            allowMultiple="false"
            class="org.fasd.views.DetailView"
            id="org.fasd.views.detailView"/>         
      <view
            allowMultiple="false"
            class="org.fasd.views.MeasureView"
            id="org.fasd.views.measureView"
            name="%view_measure">
      </view>
      <view
            class="org.fasd.views.XMLAView"
            id="org.fasd.views.xmlaView"
            name="XMLA"
            restorable="true">
      </view>
      <!--<view
            allowMultiple="false"
            class="org.fasd.views.SecurityView"
            id="org.fasd.views.securityView"
            name="SecurityView"/>
      <view
            class="org.fasd.views.ServerView"
            id="org.fasd.views.serverview"
            name="Server Connections"/>
      <view
            class="org.fasd.views.SecurityProviderView"
            id="org.fasd.views.securityproviderview"
            name="Security Providers"/>
      <view
            class="org.fasd.views.RoleView"
            id="org.fasd.views.roleView"
            name="Dimension Security"/>
      <view
            allowMultiple="false"
            class="org.fasd.views.XMLAView"
            id="org.fasd.views.xmlaView"
            name="XMLA"/>  -->
   </extension>
   <!--<extension
         id="freeolap"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.freeolap.application"
            name="FreeOlap">
         <property
               name="windowImages"
               value="icons/sample.gif,,,,"/>
         <property
               name="aboutImage"
               value="splash.bmp"/>               
      </product>
   </extension>-->
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.fasd.preferences.PreferenceInitializer"/>
   </extension>
   
   <extension
      point = "org.eclipse.ui.preferencePages">
       <page 
       	id="org.fasd.preference.startup"
	    class="org.fasd.preference.page.PageStartup"
        name="%pref_startup"/>
   </extension>
   
   
	
	<extension
  		point="org.eclipse.ui.newWizards">
		<category
		  name="DataSourceWizard"
		  id="creation.new.datasource">
		</category>
		<wizard
		  name="%wizard_datasource"
		  category="creation.new.datasource"
		  class="org.fasd.cubewizard.DataSourceWizard"
		  project="true"
		  id="creation.newDataSourceWizard">
		</wizard>
  <category
        id="definition.aggregate"
        name="Aggregate Wizard"/>
  <wizard
        category="definition.aggregate"
        class="org.fasd.wizard.aggregate.AggWizard"
        id="creation.wizard.aggregate"
        name="%wizard_aggregate"
        project="true"/>
  <category
        id="definition.inline"
        name="Inline Table Wizard"/>
  <wizard
        category="definition.inline"
        class="org.fasd.wizard.inline.InlineWizard"
        id="creation.wizard.inline"
        name="%wizard_inline"
        project="true"/>
	</extension>
 <extension
       id="product"
       point="org.eclipse.core.runtime.products">
    <product
    	  application="bpm.fasd.client.application"
          name="Vanilla Analysis Designer">
       <property
             name="windowImages"
             value="icons/cube16.gif,icons/cube32.gif,icons/cube48.gif,icons/cube64.gif,icons/cube128.gif">
       </property>
       <property
             name="aboutText"
             value="Vanilla Analysis Designer&#x0A;&#x0A;Version 8&#x0A;&#x0A;Product of BPM-Conseil&#x0A;&#x0A;http://www.bpm-conseil.com/">
       </property>
       <property
             name="aboutImage"
             value="icons/vanilla_about.gif">
       </property>
       <property
             name="appName"
             value="Vanilla Analysis Designer">
       </property>
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>
    </product>
 </extension>
 <extension
       point="org.eclipse.ui.decorators">
    <decorator
          class="org.fasd.viewers.MeasureViewDecorator"
          icon="src/org/freeolap/icons/palette_16.png"
          id="bpm.fasd.client.decorator1"
          label="label"
          lightweight="true"
          location="BOTTOM_RIGHT"
          state="true">
       <enablement>
          <objectClass
                name="org.fasd.utils.trees.TreeMes">
          </objectClass>
       </enablement>
    </decorator>
 </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="bpm.fasd.client.splashHandlers.InteractiveSplashHandler"
            id="bpm.fasd.client.splashHandlers.interactive">
      </splashHandler>
      <splashHandler
            class="org.fasd.splashHandlers.LoginSplashHandler"
            id="org.fasd.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="bpm.freeolap.product"
            splashId="org.fasd.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>
</plugin>
