<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="bpm.es.parameters.ui.views.ViewParameterProvider"
            id="bpm.es.parameters.ui.views.ViewParameterProvider"
            name="%view.parameter.name"
            restorable="true">
      </view>
   </extension>

</plugin>
