<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
   <extension
         point="org.eclipse.birt.report.model.reportItemModel">
      <reportItem
            class="bpm.birt.comment.item.core.reportitem.CommentItemFactory"
            extendsFrom="ExtendedItem"
            extensionName="Comment"
            hasStyle="true"
            isNameRequired="false">
         <property
               canInherit="true"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="Limit"
               type="boolean">
         </property>
         <property
               canInherit="true"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="NbComment"
               type="integer">
         </property>
         <property
               canInherit="true"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="TypeComment"
               type="integer">
         </property>
         <property
               canInherit="true"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="CommentParameters"
               type="string">
         </property>
         <property
               canInherit="true"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="Label"
               type="string">
         </property>
      </reportItem>
   </extension>
   <extension
         point="org.eclipse.birt.report.engine.reportitemPresentation">
      <reportItem
            class="bpm.birt.comment.item.core.reportitem.CommentPresentationImpl"
            name="Comment">
      </reportItem>
   </extension>

</plugin>
