<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="bpm.nosql.oda.runtime"
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            defaultDisplayName="Vanilla NoSql MongoDb Datasource"
            driverClass="bpm.nosql.oda.runtime.impl.Driver"
            id="bpm.nosql.oda.runtime"
            odaVersion="3.2"
            setThreadContextClassLoader="false">
          <properties>
            <property
                  name="USER"
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="UserName"
                  type="string"
                  isEncryptable="false">
            </property>
            <property
                  name="PASSWORD"
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="Password"
                  type="string"
                  isEncryptable="false">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  canInherit="true"
                  defaultDisplayName="Repository Id"
                  isEncryptable="false"
                  name="REPOSITORY_ID"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  canInherit="true"
                  defaultDisplayName="Group Id"
                  isEncryptable="false"
                  name="GROUP_ID"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  isEncryptable="false"
                  name="bpm.nosql.oda.runtime.property4"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  isEncryptable="false"
                  name="bpm.nosql.oda.runtime.property5"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  canInherit="true"
                  defaultDisplayName="DirectoryItemId"
                  isEncryptable="false"
                  name="DIRECTORY_ITEM_ID"
                  type="string">
            </property>
         </properties>
      </dataSource>
      <dataSet
            defaultDisplayName="Vanilla NoSql MongoDb Dataset"
            id="bpm.nosql.oda.runtime.dataSet">
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Integer"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Double"
               nativeDataTypeCode="8"
               odaScalarDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="BigDecimal"
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Date"
               nativeDataTypeCode="91"
               odaScalarDataType="Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Time"
               nativeDataTypeCode="92"
               odaScalarDataType="Time">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Timestamp"
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Boolean"
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean">
         </dataTypeMapping>
      </dataSet>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="bpm.nosql.oda.runtime"
            name="Vanilla NoSql MongoDb Datasource"
            parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory">
      </category>
      <connectionProfile
            category="bpm.nosql.oda.runtime"
            id="bpm.nosql.oda.runtime"
            name="MongoDb Data Source Connection Profile"
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory">
      </connectionProfile>
      <connectionFactory
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection"
            name="ODA Connection Factory"
            profile="bpm.nosql.oda.runtime">
      </connectionFactory>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            defaultDisplayName="Vanilla NoSql Cassandra Datasource"
            driverClass="bpm.nosql.oda.runtime.impl.CassandraDriver"
            id="bpm.nosql.oda.runtime.cassandra"
            odaVersion="3.0"
            setThreadContextClassLoader="false">
         <properties>
            <property
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="UserName"
                  isEncryptable="false"
                  name="USER"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="Password"
                  isEncryptable="false"
                  name="PASSWORD"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  canInherit="true"
                  defaultDisplayName="Repository Id"
                  isEncryptable="false"
                  name="REPOSITORY_ID"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  canInherit="true"
                  defaultDisplayName="Group Id"
                  isEncryptable="false"
                  name="GROUP_ID"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  isEncryptable="false"
                  name="bpm.nosql.oda.runtime.property4"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  isEncryptable="false"
                  name="bpm.nosql.oda.runtime.property5"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  canInherit="true"
                  defaultDisplayName="DirectoryItemId"
                  isEncryptable="false"
                  name="DIRECTORY_ITEM_ID"
                  type="string">
            </property>
         </properties>
      </dataSource>
      <dataSet
            defaultDisplayName="Vanilla NoSql Cassandra Dataset"
            id="bpm.nosql.oda.runtime.cassandra.dataSet">
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Integer"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Double"
               nativeDataTypeCode="8"
               odaScalarDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="BigDecimal"
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Date"
               nativeDataTypeCode="91"
               odaScalarDataType="Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Time"
               nativeDataTypeCode="92"
               odaScalarDataType="Time">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Timestamp"
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Boolean"
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean">
         </dataTypeMapping>
      </dataSet>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="bpm.nosql.oda.runtime.cassandra"
            name="Vanilla NoSql Cassandra Datasource"
            parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory">
      </category>
      <connectionProfile
            category="bpm.nosql.oda.runtime.cassandra"
            id="bpm.nosql.oda.runtime.cassandra"
            name="Cassandra Data Source Connection Profile"
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory">
      </connectionProfile>
      <connectionFactory
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection"
            name="ODA Connection Factory"
            profile="bpm.nosql.oda.runtime.cassandra">
      </connectionFactory>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            defaultDisplayName="Vanilla NoSql Hbase Datasource"
            driverClass="bpm.nosql.oda.runtime.impl.HbaseDriver"
            id="bpm.nosql.oda.runtime.hbase"
            odaVersion="3.0"
            setThreadContextClassLoader="false">
         <properties>
            <property
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="UserName"
                  isEncryptable="false"
                  name="USER"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="Password"
                  isEncryptable="false"
                  name="PASSWORD"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  canInherit="true"
                  defaultDisplayName="Repository Id"
                  isEncryptable="false"
                  name="REPOSITORY_ID"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  canInherit="true"
                  defaultDisplayName="Group Id"
                  isEncryptable="false"
                  name="GROUP_ID"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  isEncryptable="false"
                  name="bpm.nosql.oda.runtime.property4"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  isEncryptable="false"
                  name="bpm.nosql.oda.runtime.property5"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  canInherit="true"
                  defaultDisplayName="DirectoryItemId"
                  isEncryptable="false"
                  name="DIRECTORY_ITEM_ID"
                  type="string">
            </property>
         </properties>
      </dataSource>
      <dataSet
            defaultDisplayName="Vanilla NoSql Hbase Dataset"
            id="bpm.nosql.oda.runtime.hbase.dataSet">
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Integer"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Double"
               nativeDataTypeCode="8"
               odaScalarDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="BigDecimal"
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Date"
               nativeDataTypeCode="91"
               odaScalarDataType="Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Time"
               nativeDataTypeCode="92"
               odaScalarDataType="Time">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Timestamp"
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Boolean"
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean">
         </dataTypeMapping>
      </dataSet>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="bpm.nosql.oda.runtime.hbase"
            name="Hbase Data Source"
            parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory">
      </category>
      <connectionProfile
            category="bpm.nosql.oda.runtime.hbase"
            id="bpm.nosql.oda.runtime.hbase"
            name="Hbase Data Source Connection Profile"
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory">
      </connectionProfile>
      <connectionFactory
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection"
            name="ODA Connection Factory"
            profile="bpm.nosql.oda.runtime.hbase">
      </connectionFactory>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="bpm.nosql.oda.runtime.drill"
            name="Drill Datasource"
            parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory">
      </category>
      <connectionProfile
            category="bpm.nosql.oda.runtime.drill"
            id="bpm.nosql.oda.runtime.drill"
            name="Drill Data Source Connection Profile"
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory">
      </connectionProfile>
      <connectionFactory
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection"
            name="ODA Drill Connection Factory"
            profile="bpm.nosql.oda.runtime.drill">
      </connectionFactory>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            defaultDisplayName="Vanilla NoSql Drill Datasource"
            driverClass="bpm.nosql.oda.runtime.impl.DrillDriver"
            id="bpm.nosql.oda.runtime.drill"
            odaVersion="3.0"
            overrideExplorerFiltering="false"
            setThreadContextClassLoader="false">
         <properties>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  defaultDisplayName="Jdbc url"
                  isEncryptable="false"
                  name="URL"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  defaultDisplayName="User"
                  isEncryptable="false"
                  name="USER"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  defaultDisplayName="Password"
                  isEncryptable="false"
                  name="PASSWORD"
                  type="string">
            </property>
         </properties>
      </dataSource>
      <dataSet
            defaultDisplayName="Vanilla NoSql Drill Dataset"
            id="bpm.nosql.oda.runtime.drill.dataset">
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String">
         </dataTypeMapping>
      </dataSet>
   </extension>

</plugin>
