<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.birt.report.model.reportItemModel">
      <reportItem
            class="bpm.birt.wms.map.core.reportitem.WMSMapItemFactory"
            extendsFrom="ExtendedItem"
            extensionName="WMSMapItem"
            hasStyle="true"
            isNameRequired="false">
         <property
               canInherit="true"
               defaultDisplayName="Base Layer url"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="baseLayerUrl"
               type="string">
         </property>
         <property
               canInherit="true"
               defaultDisplayName="Base Layer Name"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="baseLayerName"
               type="string">
         </property>
         <property
               canInherit="true"
               defaultDisplayName="Vector Layer Url"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="vectorLayerUrl"
               type="string">
         </property>
         <property
               canInherit="true"
               defaultDisplayName="Vector Layer Name"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="vectorLayerName"
               type="string">
         </property>
         <property
               canInherit="true"
               defaultDisplayName="Bounds"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="bounds"
               type="string">
         </property>
         <property
               canInherit="true"
               defaultDisplayName="Tile Origin"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="tileOrigin"
               type="string">
         </property>
         <property
               canInherit="true"
               defaultDisplayName="Projection"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="projection"
               type="string">
         </property>
         <property
               canInherit="true"
               defaultDisplayName="Value Column"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="valueColumn"
               type="string">
         </property>
         <property
               canInherit="true"
               defaultDisplayName="Zone id column"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="zoneIdColumn"
               type="string">
         </property>
         <property
               canInherit="true"
               defaultDisplayName="Color ranges"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="colorRange"
               type="string">
         </property>
         <property
               canInherit="true"
               defaultDisplayName="Opacity"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="opacity"
               type="string">
         </property>
         <property
               canInherit="true"
               defaultDisplayName="Width"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="width"
               type="string">
         </property>
         <property
               canInherit="true"
               defaultDisplayName="Height"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="height"
               type="string">
         </property>
         <property
               canInherit="true"
               defaultDisplayName="Vanilla Runtime Url"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="vanillaRuntime"
               type="string">
         </property>
      </reportItem>
   </extension>
   <extension
         point="org.eclipse.birt.report.engine.reportitemPresentation">
      <reportItem
            class="bpm.birt.wms.map.core.reportitem.WMSMapItemPresentation"
            name="WMSMapItem">
      </reportItem>
   </extension>

</plugin>
