<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="bpm.es.clustering.ui.view.ModuleView"
            id="bpm.es.clustering.ui.view1"
            name="Vanilla Platform"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
          <perspective
            class="bpm.es.clustering.ui.perspectives.VanillaServices"
            icon="src/bpm/es/clustering/ui/icons/network-server.png"
            id="bpm.es.clustering.ui.perspectives.VanillaServices"
            name="VanillaServices">
         <description>
            Define the different server&apos;s used by the VanillaPlatform.
         </description>
      </perspective>
   </extension>

</plugin>
