<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="bpm.fd.design.ui.datas.ViewDictionary"
            id="bpm.fd.design.ui.datas.ViewDictionary"
            name="%view.dictionary">
      </view>
      <view
            class="bpm.fd.design.ui.project.views.ProjectView"
            id="bpm.fd.design.ui.project.views.ProjectView"
            name="%view.project">
      </view>
      <view
            class="bpm.fd.design.ui.views.ViewComponent"
            id="bpm.fd.design.ui.views.ViewComponent"
            name="%view.component">
      </view>
      <view
            allowMultiple="false"
            class="bpm.fd.design.ui.editor.part.palette.ViewPalette"
            id="bpm.fd.design.ui.editor.part.palette.ViewPalette"
            name="Design Palette"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="bpm.fd.design.ui.perspectives.DesignPerspective"
            id="bpm.fd.design.ui.perspectives.DesignPerspective"
            name="%perspective.design">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="bpm.fd.design.ui.editors.FdEditor"
            contributorClass="bpm.fd.design.ui.editors.FdEditorContributor"
            icon="icons/sample.gif"
            id="bpm.fd.design.ui.editors.MultipleEditor"
            name="name">
      </editor>
   </extension>
   <extension
         id="bpm.fd.design.ui.nature.freedashboard"
         name="FreeDashboard Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="bpm.fd.design.ui.nature.FdNature">
         </run>
      </runtime>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="bpm.fd.design.ui.editors.StructureEditor"
            typeMapper="bpm.fd.design.ui.editors.ComponentTypeMapper">
         <propertyCategory
               category="bpm.fd.design.ui.properties.category.Parameters"></propertyCategory>
         <propertyCategory
               category="bpm.fd.design.ui.properties.category.Components">
         </propertyCategory>
         <propertyCategory
               category="bpm.fd.design.ui.properties.category.Components.I18N">
         </propertyCategory>
         <propertyCategory
               category="bpm.fd.design.ui.properties.category.style">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="bpm.fd.design.ui.editors.StructureEditor">
         <propertyTab
               afterTab="bpm.fd.design.ui.properties.components.commenttab"
               category="bpm.fd.design.ui.properties.category.Parameters"
               id="bpm.fd.design.ui.properties.components.parameterstab"
               label="%propertyTab.parameters">
         </propertyTab>
         <propertyTab
               afterTab="bpm.fd.design.ui.properties.components.csstab"
               category="bpm.fd.design.ui.properties.category.Components.I18N"
               id="bpm.fd.design.ui.properties.category.Components.I18N.tab"
               label="%propertyTab.I18N">
         </propertyTab>
         <propertyTab
               afterTab="bpm.fd.design.ui.properties.components.parameterstab"
               category="bpm.fd.design.ui.properties.category.style"
               id="bpm.fd.design.ui.properties.components.csstab"
               label="%propertyTab.CSS">
         </propertyTab>
         <propertyTab
               category="bpm.fd.design.ui.properties.category.Components"
               id="bpm.fd.design.ui.properties.elementtab"
               label="%propertyTab.Element">
         </propertyTab>
         <propertyTab
               category="bpm.fd.design.ui.properties.category.Components"
               id="bpm.fd.design.ui.properties.contenttab"
               label="%propertyTab.Content">
         </propertyTab>
         <propertyTab
               category="bpm.fd.design.ui.properties.category.style"
               id="bpm.fd.design.ui.properties.eventtab"
               label="%propertyTab.Events">
         </propertyTab>
         <propertyTab
               category="bpm.fd.design.ui.properties.category.Components"
               id="bpm.fd.design.ui.properties.orientationtab"
               label="%propertyTab.Orientation">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="bpm.fd.design.ui.editors.StructureEditor">
         <propertySection
               class="bpm.fd.design.ui.properties.sections.misc.I18NSection"
               id="bpm.fd.design.ui.properties.components.misc.i18nsection"
               tab="bpm.fd.design.ui.properties.category.Components.I18N.tab">
            <input
                  type="bpm.fd.api.core.model.components.definition.IComponentDefinition">
            </input>
         </propertySection>
         <propertySection
               class="bpm.fd.design.ui.properties.sections.ParameterSection"
               id="bpm.fd.design.ui.properties.components.parameterssection"
               tab="bpm.fd.design.ui.properties.components.parameterstab">
            <input
                  type="bpm.fd.api.core.model.components.definition.IComponentDefinition">
            </input>
         </propertySection>
         <propertySection
               class="bpm.fd.design.ui.properties.sections.CssSection"
               id="bpm.fd.design.ui.properties.sections.CssSection"
               tab="bpm.fd.design.ui.properties.components.csstab">
            <input
                  type="bpm.fd.api.core.model.IBaseElement">
            </input>
         </propertySection>
         <propertySection
               class="bpm.fd.design.ui.properties.sections.AdditionalCssSection"
               filter="bpm.fd.design.ui.properties.sections.AdditionalCssFilter"
               id="bpm.fd.design.ui.properties.sections.DimensionCssSection"
               tab="bpm.fd.design.ui.properties.components.csstab">
         </propertySection>
         <propertySection
               class="bpm.fd.design.ui.properties.sections.GeneralSection"
               id="bpm.fd.design.ui.properties.sections.GeneralSection"
               tab="bpm.fd.design.ui.properties.elementtab">
            <input
                  type="bpm.fd.api.core.model.IBaseElement">
            </input>
         </propertySection>
         <propertySection
               class="bpm.fd.design.ui.properties.sections.FolderContentSection"
               id="bpm.fd.design.ui.properties.sections.FolderContentSection"
               tab="bpm.fd.design.ui.properties.contenttab">
            <input
                  type="bpm.fd.api.core.model.structure.Folder">
            </input>
         </propertySection>
         <propertySection
               class="bpm.fd.design.ui.properties.sections.EventSection"
               id="bpm.fd.design.ui.properties.sections.EventSection"
               tab="bpm.fd.design.ui.properties.eventtab">
            <input
                  type="bpm.fd.api.core.model.IBaseElement">
            </input>
         </propertySection>
         <propertySection
               class="bpm.fd.design.ui.properties.sections.StackableCellTypeSection"
               id="bpm.fd.design.ui.properties.sections.StackableCellTypeSection"
               tab="bpm.fd.design.ui.properties.orientationtab">
            <input
                  type="bpm.fd.api.core.model.structure.StackableCell">
            </input>
         </propertySection>
         <propertySection
               class="bpm.fd.design.ui.properties.sections.DrillDrivenCellSection"
               id="bpm.fd.design.ui.properties.sections.DrillDrivenCellSection"
               tab="bpm.fd.design.ui.properties.components.parameterstab">
            <input
                  type="bpm.fd.api.core.model.structure.DrillDrivenStackableCell">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="bpm.fd.design.ui.freedashCategory"
            name="FreeDashboard">
      </category>
      <wizard
            category="bpm.fd.design.ui.freedashCategory"
            class="bpm.fd.design.ui.css.wizard.CssImportWizard"
            icon="src/bpm/fd/design/ui/icons/css.png"
            id="bpm.fd.design.ui.css.wizard.CssImportWizard"
            name="%importWizard.Css">
         <description>
            Import a Css file from the local file system into the current project.
         </description>
      </wizard>
      <wizard
            category="bpm.fd.design.ui.freedashCategory"
            class="bpm.fd.design.ui.css.wizard.PictureImportWizard"
            icon="src/bpm/fd/design/ui/icons/picture.png"
            id="bpm.fd.design.ui.css.wizard.PictureImportWizard"
            name="%importWizard.Picture">
         <description>
            Import a Picture file from the local file system into the current project.
         </description>
      </wizard>
      <wizard
            category="bpm.fd.design.ui.freedashCategory"
            class="bpm.fd.design.ui.css.wizard.JavaScriptImportWizard"
            icon="src/bpm/fd/design/ui/icons/javascript.png"
            id="bpm.fd.design.ui.css.wizard.JavaScriptImportWizard"
            name="%importWizard.Js">
         <description>
            Import a JavaScript file from the local file system into the current project.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="bpm.fd.design.ui.decorators.Decorator"
            icon="src/bpm/fd/design/ui/icons/error_decoration_16.png"
            id="bpm.fd.design.ui.decorators.Decorator"
            label="label"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <objectClass
                  name="bpm.fd.api.core.model.IStatuable">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         id="bpm.fd.design.ui.markers.dictionarymarker"
         name="Dictionary"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="dictionaryname">
      </attribute>
      <attribute
            name="componentname">
      </attribute>
      <attribute
            name="datasetname">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="bpm.fd.design.ui.freedashCategory"
            name="FreeDashboard">
      </category>
      <wizard
            category="bpm.fd.design.ui.freedashCategory"
            class="bpm.fd.design.ui.css.wizard.CssNewFileWizard"
            descriptionImage="src/bpm/fd/design/ui/icons/css.png"
            icon="src/bpm/fd/design/ui/icons/css.png"
            id="bpm.fd.design.ui.wizard1"
            name="%newWizard.Css">
      </wizard>
      <category
            id="bpm.fd.design.ui.freedashComponentCategory"
            name="Component">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="bpm.fd.design.ui.freedashCategory"
            name="FreeDashboard">
      </category>
      <wizard
            category="bpm.fd.design.ui.freedashCategory"
            class="bpm.fd.design.ui.wizard.ExportFdPackageWizard"
            id="bpm.fd.design.ui.wizard.ExportFdPackageWizard"
            name="Export as Fd package">
         <description>
            Export the project as a freedashboard package
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="bpm.fd.design.ui.editor.part.LayoutEditor"
            typeMapper="bpm.fd.design.ui.editor.part.TypeMapper">
        <propertyCategory
               category="bpm.fd.design.ui.properties.category.Parameters"></propertyCategory>
         <propertyCategory
               category="bpm.fd.design.ui.properties.category.Components">
         </propertyCategory>
         <propertyCategory
               category="bpm.fd.design.ui.properties.category.Components.I18N">
         </propertyCategory>
         <propertyCategory
               category="bpm.fd.design.ui.properties.category.style">
         </propertyCategory>
      </propertyContributor>
   </extension>
	<extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="bpm.fd.design.ui.editor.part.LayoutEditor">
         <propertyTab
               afterTab="bpm.fd.design.ui.properties.components.commenttab"
               category="bpm.fd.design.ui.properties.category.Parameters"
               id="bpm.fd.design.ui.properties.components.parameterstab"
               label="%propertyTab.parameters">
         </propertyTab>
         <propertyTab
               afterTab="bpm.fd.design.ui.properties.components.csstab"
               category="bpm.fd.design.ui.properties.category.Components.I18N"
               id="bpm.fd.design.ui.properties.category.Components.I18N.tab"
               label="%propertyTab.I18N">
         </propertyTab>
         <propertyTab
               afterTab="bpm.fd.design.ui.properties.components.parameterstab"
               category="bpm.fd.design.ui.properties.category.style"
               id="bpm.fd.design.ui.properties.components.csstab"
               label="%propertyTab.CSS">
         </propertyTab>
         <propertyTab
               category="bpm.fd.design.ui.properties.category.Components"
               id="bpm.fd.design.ui.properties.elementtab"
               label="%propertyTab.Element">
         </propertyTab>
         <propertyTab
               category="bpm.fd.design.ui.properties.category.Components"
               id="bpm.fd.design.ui.properties.contenttab"
               label="%propertyTab.Content">
         </propertyTab>
         <propertyTab
               category="bpm.fd.design.ui.properties.category.style"
               id="bpm.fd.design.ui.properties.eventtab"
               label="%propertyTab.Events">
         </propertyTab>
         <propertyTab
               category="bpm.fd.design.ui.properties.category.Components"
               id="bpm.fd.design.ui.properties.orientationtab"
               label="%propertyTab.Orientation">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="bpm.fd.design.ui.editor.part.LayoutEditor">
         <propertySection
               class="bpm.fd.design.ui.properties.sections.misc.I18NSection"
               id="bpm.fd.design.ui.properties.components.misc.i18nsection"
               tab="bpm.fd.design.ui.properties.category.Components.I18N.tab">
            <input
                  type="bpm.fd.api.core.model.components.definition.IComponentDefinition">
            </input>
         </propertySection>
         <propertySection
               class="bpm.fd.design.ui.properties.sections.ParameterSection"
               id="bpm.fd.design.ui.properties.components.parameterssection"
               tab="bpm.fd.design.ui.properties.components.parameterstab">
            <input
                  type="bpm.fd.api.core.model.components.definition.IComponentDefinition">
            </input>
         </propertySection>
         <propertySection
               class="bpm.fd.design.ui.properties.sections.CssSection"
               id="bpm.fd.design.ui.properties.sections.CssSection"
               tab="bpm.fd.design.ui.properties.components.csstab">
            <input
                  type="bpm.fd.api.core.model.IBaseElement">
            </input>
         </propertySection>
         <propertySection
               class="bpm.fd.design.ui.properties.sections.AdditionalCssSection"
               filter="bpm.fd.design.ui.properties.sections.AdditionalCssFilter"
               id="bpm.fd.design.ui.properties.sections.DimensionCssSection"
               tab="bpm.fd.design.ui.properties.components.csstab">
         </propertySection>
         <propertySection
               class="bpm.fd.design.ui.properties.sections.GeneralSection"
               id="bpm.fd.design.ui.properties.sections.GeneralSection"
               tab="bpm.fd.design.ui.properties.elementtab">
            <input
                  type="bpm.fd.api.core.model.IBaseElement">
            </input>
         </propertySection>
         <propertySection
               class="bpm.fd.design.ui.properties.sections.FolderContentSection"
               id="bpm.fd.design.ui.properties.sections.FolderContentSection"
               tab="bpm.fd.design.ui.properties.contenttab">
            <input
                  type="bpm.fd.api.core.model.structure.Folder">
            </input>
         </propertySection>
         <propertySection
               class="bpm.fd.design.ui.properties.sections.EventSection"
               id="bpm.fd.design.ui.properties.sections.EventSection"
               tab="bpm.fd.design.ui.properties.eventtab">
            <input
                  type="bpm.fd.api.core.model.IBaseElement">
            </input>
         </propertySection>
         <propertySection
               class="bpm.fd.design.ui.properties.sections.StackableCellTypeSection"
               id="bpm.fd.design.ui.properties.sections.StackableCellTypeSection"
               tab="bpm.fd.design.ui.properties.orientationtab">
            <input
                  type="bpm.fd.api.core.model.structure.StackableCell">
            </input>
         </propertySection>
         <propertySection
               class="bpm.fd.design.ui.properties.sections.DrillDrivenCellSection"
               id="bpm.fd.design.ui.properties.sections.DrillDrivenCellSection"
               tab="bpm.fd.design.ui.properties.components.parameterstab">
            <input
                  type="bpm.fd.api.core.model.structure.DrillDrivenStackableCell">
            </input>
         </propertySection>
      </propertySections>
   </extension>
</plugin>
