<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <newWizard
            name="%newwizard.name"
            icon="icons/new_oda_dswiz.ico"
            profile="%oda.data.source.id"
            description="%newwizard.description"
            class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
            id="%oda.data.source.id">
      </newWizard>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.ui.connectionProfileImage">
      <profileImage
            icon="icons/profile.gif"
            profileID="%oda.data.source.id">
      </profileImage>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="bpm.google.spreadsheet.oda.driver.ui.impl.datasource.EditGoogleDataSource"
            id="%oda.data.source.id"
            name="Google SpreadSheet Edit DataSource"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.datatools.connectivity.IConnectionProfile">
            </instanceof>
         </enabledWhen>
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="%oda.data.source.id">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI
            id="%oda.data.source.id">
         <newDataSourceWizard
               pageClass="bpm.google.spreadsheet.oda.driver.ui.impl.datasource.GoogleSpreadDataSourcePage"
               includesProgressMonitor="false"
               pageTitle="G-Mail Account Connection"
               windowTitle="Build a DataSource from a google SpreadSheet">
         </newDataSourceWizard>
      </dataSourceUI>
      <dataSetUI
            supportsOutParameters="false"
            supportsInParameters="true"
            initialPageId="bpm.google.spreadsheet.oda.driver.runtime.dataSet.page1"
            id="bpm.google.spreadsheet.oda.driver.runtime.dataSet">
         <dataSetWizard
               class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
               windowTitle="%wizard.data.set.window.title">
         </dataSetWizard>
         <dataSetPage
               displayName="ODA Google DataSet"
               icon="icons/datasetpage.ico"
               wizardPageClass="bpm.google.spreadsheet.oda.driver.ui.impl.dataset.GoogleOdaDataSetPage"
               path="/"
               id="bpm.google.spreadsheet.oda.driver.runtime.dataSet.page1">
         </dataSetPage>
         <dataSetPage
               displayName="ODA Google Filters"
               id="Filter Google ODA Driver"
               wizardPageClass="bpm.google.spreadsheet.oda.driver.ui.impl.dataset.GoogleOdaFilterPage">
         </dataSetPage>
      </dataSetUI>
   </extension>

</plugin>
