<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <newWizard
            name="%newwizard.name"
            icon="icons/new_oda_dswiz.ico"
            profile="%oda.data.source.id"
            description="%newwizard.description"
            class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
            id="%oda.data.source.id">
      </newWizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="bpm.datasource.vanilla.oda.ui.impl.VanillaDatasourcePropertiesPage"
            id="%oda.data.source.id"
            name="%profile.propertypage.name"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="%oda.data.source.id">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI
            id="%oda.data.source.id">
         <newDataSourceWizard
               pageClass="bpm.datasource.vanilla.oda.ui.impl.VanillaDatasourceOdaPage"
               includesProgressMonitor="false"
               pageTitle="%wizard.data.source.page.title"
               windowTitle="%wizard.window.title">
         </newDataSourceWizard>
      </dataSourceUI>
      <dataSetUI
            id="bpm.datasource.vanilla.oda.runtime.dataSet"
            initialPageId="bpm.datasource.vanilla.oda.ui.dataSetPage1"
            supportsInParameters="true"
            supportsOutParameters="false">
         <dataSetWizard
               class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
               windowTitle="%wizard.data.set.window.title"></dataSetWizard>
         <dataSetPage
               displayName="%wizard.data.set.page.title"
               icon="icons/datasetpage.ico"
               id="bpm.datasource.vanilla.oda.ui.dataSetPage1"
               path="/"
               wizardPageClass="bpm.datasource.vanilla.oda.ui.impl.DatasetWizardPage">
         </dataSetPage>
      </dataSetUI>
   </extension>

</plugin>
