<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="bpm.es.datasource.analyzer.ui.views.ViewFilter"
            id="bpm.es.datasource.analyzer.ui.views.ViewFilter"
            name="%view.filter.name"
            restorable="true">
      </view>
      <view
            class="bpm.es.datasource.analyzer.ui.views.AnalysisView"
            id="bpm.es.datasource.analyzer.ui.views.AnalysisView"
            name="%view.analysis.name"
            restorable="true">
      </view>
      <view
            class="bpm.es.datasource.analyzer.ui.views.ViewHierarchical"
            id="bpm.es.datasource.analyzer.ui.views.ViewHierarchical"
            name="%view.graph.name"
            restorable="true">
      </view>
      <view
            class="bpm.es.datasource.analyzer.ui.remapper.ViewRemapObjects"
            id="bpm.es.datasource.analyzer.ui.remapper.ViewRemapObjects"
            name="%view.link.name"
            restorable="true">
      </view>
      <view
            class="bpm.es.datasource.audit.ui.views.ObjectTreeView"
            id="bpm.es.datasource.audit.ui.views.ObjectTreeView"
            name="%view.object.name"
            restorable="true">
      </view>
	  <view
            class="bpm.es.datasource.audit.ui.views.TestView"
            id="bpm.es.datasource.audit.ui.views.TestView"
            name="%view.audit.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="bpm.es.datasource.analyzer.ui.PerspectiveFactory"
            icon="src/bpm/es/datasource/analyzer/ui/icons/database-analysis.png"
            id="bpm.es.datasource.analyzer.ui.perspective"
            name="%perspective.analysis.name">
         <description>
            %perspective.analysis.description
         </description>
      </perspective>
      <perspective
            class="bpm.es.datasource.audit.ui.AuditPerspectiveFactory"
            icon="src/bpm/es/datasource/analyzer/ui/icons/audit.png"
            id="bpm.es.datasource.audit.ui.AuditPerspectiveFactory"
            name="%perspective.audit.name">
         <description>
            %perspective.audit.description
         </description>
      </perspective>
   </extension>

</plugin>
