<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="%oda.data.source.id"
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            driverClass="bpm.metadata.birt.oda.runtime.impl.Driver"
            defaultDisplayName="%data.source.name"
            setThreadContextClassLoader="false"
            odaVersion="3.1"
            id="bpm.metadata.birt.oda.runtime">
         <properties>
            <property
                  name="USER"
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="Username"
                  type="string"
                  isEncryptable="false">
            </property>
            <property
                  name="PASSWORD"
                  allowsEmptyValueAsNull="true"
                  defaultDisplayName="Password"
                  type="string"
                  isEncryptable="false">
            </property>
            <property
                  name="URL"
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="Bi Repository Url"
                  type="string"
                  isEncryptable="false">
            </property>
            <property
                  name="DIRECTORY_ITEM_ID"
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="DirectoryItem"
                  type="string"
                  isEncryptable="false">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="Business Model Name"
                  isEncryptable="false"
                  name="BUSINESS_MODEL"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="Business Package Name"
                  isEncryptable="false"
                  name="BUSINESS_PACKAGE"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="Group Name"
                  isEncryptable="false"
                  name="GROUP_NAME"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  defaultDisplayName="encrypted"
                  isEncryptable="false"
                  name="IS_ENCRYPTED"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  defaultDisplayName="repositoryId"
                  isEncryptable="false"
                  name="REPOSITORY_ID"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  defaultDisplayName="vanillaUrl"
                  isEncryptable="false"
                  name="VANILLA_URL"
                  type="string">
            </property>
         </properties>
      </dataSource>
      <dataSet
            defaultDisplayName="%data.set.name"
            id="bpm.metadata.birt.oda.runtime.dataSet">
         <dataTypeMapping
               nativeDataTypeCode="12"
               odaScalarDataType="String"
               nativeDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="4"
               odaScalarDataType="Integer"
               nativeDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="8"
               odaScalarDataType="Double"
               nativeDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal"
               nativeDataType="BigDecimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="91"
               odaScalarDataType="Date"
               nativeDataType="Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="92"
               odaScalarDataType="Time"
               nativeDataType="Time">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp"
               nativeDataType="Timestamp">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean"
               nativeDataType="Boolean">
         </dataTypeMapping>
      </dataSet>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            name="%data.source.name"
            parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory"
            id="%oda.data.source.id">
      </category>
      <connectionProfile
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            name="%connection.profile.name"
            category="%oda.data.source.id"
            id="%oda.data.source.id">
      </connectionProfile>
      <connectionFactory
            name="ODA Connection Factory"
            profile="%oda.data.source.id"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection">
      </connectionFactory>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            defaultDisplayName="Vanilla Metadata Olap Oda Datasource"
            driverClass="bpm.metadata.birt.oda.runtime.impl.Driver"
            id="bpm.metadata.birt.oda.runtime.olap"
            odaVersion="3.0"
            overrideExplorerFiltering="false"
            setThreadContextClassLoader="false">
         <properties>
            <property
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="Username"
                  isEncryptable="false"
                  name="USER"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  defaultDisplayName="Password"
                  isEncryptable="false"
                  name="PASSWORD"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="Bi Repository Url"
                  isEncryptable="false"
                  name="URL"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="DirectoryItem"
                  isEncryptable="false"
                  name="DIRECTORY_ITEM_ID"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="Business Model Name"
                  isEncryptable="false"
                  name="BUSINESS_MODEL"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="Business Package Name"
                  isEncryptable="false"
                  name="BUSINESS_PACKAGE"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="Group Name"
                  isEncryptable="false"
                  name="GROUP_NAME"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  defaultDisplayName="encrypted"
                  isEncryptable="false"
                  name="IS_ENCRYPTED"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  defaultDisplayName="repositoryId"
                  defaultValue="1"
                  isEncryptable="false"
                  name="REPOSITORY_ID"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  defaultDisplayName="vanillaUrl"
                  defaultValue="http://localhost:7171/VanillaRuntime"
                  isEncryptable="false"
                  name="VANILLA_URL"
                  type="string">
            </property>
         </properties>
      </dataSource>
      <dataSet
            defaultDisplayName="UnitedOlap Metadata Dataset"
            id="bpm.metadata.birt.oda.runtime.olap.dataset">
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="12"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Integer"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Double"
               nativeDataTypeCode="8"
               odaScalarDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="BigDecimal"
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Date"
               nativeDataTypeCode="91"
               odaScalarDataType="Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Time"
               nativeDataTypeCode="92"
               odaScalarDataType="Time">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Timestamp"
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="Boolean"
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean">
         </dataTypeMapping>
      </dataSet>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            id="bpm.metadata.birt.oda.runtime.olap"
            name="UnitedOlap Metadata Datasource"
            parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory">
      </category>
      <connectionProfile
            category="bpm.metadata.birt.oda.runtime.olap"
            id="bpm.metadata.birt.oda.runtime.olap"
            name="UnitedOlap Metadata Datasource"
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory">
      </connectionProfile>
      <connectionFactory
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection"
            name="ODA Connection Factory"
            profile="bpm.metadata.birt.oda.runtime.olap">
      </connectionFactory>
   </extension>

</plugin>
